SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ma_panel](
	[cd_panel] [varchar](3) NOT NULL,
	[cd_shokuba] [varchar](10) NOT NULL,
	[cd_hakari_1] [varchar](10) NULL,
	[no_hakari_com_1] [varchar](2) NULL,
	[flg_hakari_1] [smallint] NULL,
	[cd_hakari_2] [varchar](10) NULL,
	[no_hakari_com_2] [varchar](2) NULL,
	[flg_hakari_2] [smallint] NULL,
	[wt_kirikae_hakari] [decimal](12, 6) NULL,
	[no_com_reader] [varchar](2) NULL,
	[su_hakari] [decimal](4, 0) NULL,
	[su_count_buffer] [decimal](2, 0) NOT NULL,
	[su_threshold] [decimal](2, 0) NOT NULL,
	[no_reader_setting] [varchar](14) NOT NULL,
	[su_size_buffer] [decimal](4, 0) NOT NULL,
	[no_ip_labelprinter] [varchar](12) NOT NULL,
	[flg_futaibiki] [smallint] NOT NULL,
	[kbn_kirikae_hakari] [smallint] NOT NULL,
	[flg_shiyo_tani_mg] [smallint] NOT NULL,
	[no_kotei] [decimal](2, 0) NOT NULL,
	[flg_mishiyo] [smallint] NOT NULL,
	[cd_line] [varchar](10) NULL,
	[flg_settei_label_1] [smallint] NULL,
	[flg_settei_label_2] [smallint] NULL,
	[flg_settei_label_3] [smallint] NULL,
	[flg_settei_label_4] [smallint] NULL,
	[flg_settei_label_5] [smallint] NULL,
	[flg_settei_label_6] [smallint] NULL,
	[flg_settei_label_7] [smallint] NULL,
	[flg_settei_label_8] [smallint] NULL,
	[flg_settei_label_9] [smallint] NULL,
	[flg_settei_n_1] [smallint] NULL,
	[flg_settei_n_2] [smallint] NULL,
	[flg_settei_n_3] [smallint] NULL,
	[flg_settei_t_1] [smallint] NULL,
	[flg_settei_t_2] [smallint] NULL,
	[flg_settei_t_3] [smallint] NULL,
	[flg_settei_t_4] [smallint] NULL,
	[flg_settei_k_1] [smallint] NULL,
	[flg_settei_k_2] [smallint] NULL,
	[flg_settei_jiseki_1] [smallint] NULL,
	[flg_settei_jiseki_2] [smallint] NULL,
	[flg_settei_jiseki_3] [smallint] NULL,
	[flg_settei_jiseki_4] [smallint] NULL,
	[flg_settei_jiseki_5] [smallint] NULL,
	[flg_settei_sonota_1] [smallint] NULL,
	[flg_settei_sonota_2] [smallint] NULL,
	[flg_settei_sonota_3] [smallint] NULL,
	[flg_settei_sonota_4] [smallint] NULL,
	[flg_settei_sonota_5] [smallint] NULL,
	[dt_create] [datetime] NOT NULL,
	[cd_create] [varchar](10) NOT NULL,
	[dt_update] [datetime] NOT NULL,
	[cd_update] [varchar](10) NOT NULL,
	[ts] [timestamp] NOT NULL,
 CONSTRAINT [PK_ma_panel_1] PRIMARY KEY CLUSTERED 
(
	[cd_panel] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
)
GO
