SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ma_hinmei](
	[cd_hinmei] [varchar](14) NOT NULL,
	[nm_hinmei_ja] [nvarchar](50) NULL,
	[nm_hinmei_en] [nvarchar](50) NULL,
	[nm_hinmei_zh] [nvarchar](50) NULL,
	[nm_hinmei_vi] [nvarchar](50) NULL,
	[nm_hinmei_ryaku] [nvarchar](50) NULL,
	[cd_tani_shiyo] [varchar](10) NULL,
	[cd_niuke_basho] [varchar](10) NULL,
	[ritsu_budomari] [decimal](5, 2) NULL,
	[ritsu_hiju] [decimal](6, 4) NULL,
	[su_zaiko_min] [decimal](14, 6) NULL,
	[su_zaiko_max] [decimal](14, 6) NULL,
	[dd_shomi] [decimal](4, 0) NULL,
	[dd_kaifugo_shomi] [decimal](4, 0) NULL,
	[kbn_hokan] [varchar](10) NULL,
	[kbn_kaifugo_hokan] [varchar](10) NULL,
	[kin_romu] [decimal](12, 4) NULL,
	[cd_haigo] [varchar](14) NULL,
	[tan_ko] [decimal](12, 4) NULL,
	[biko] [nvarchar](200) NULL,
	[kbn_kuraire] [smallint] NULL,
	[kbn_kanzan] [varchar](10) NULL,
	[dd_leadtime] [decimal](3, 0) NULL,
	[kbn_zei] [smallint] NULL,
	[tan_nonyu] [decimal](12, 4) NULL,
	[flg_mishiyo] [smallint] NULL,
	[dt_create] [datetime] NOT NULL,
	[cd_create] [varchar](10) NOT NULL,
	[dt_update] [datetime] NOT NULL,
	[cd_update] [varchar](10) NOT NULL,
	[kbn_hin] [smallint] NULL,
	[wt_nisugata_naiyo] [decimal](12, 6) NULL,
	[nm_nisugata_hyoji] [nvarchar](50) NULL,
	[su_iri] [decimal](5, 0) NULL,
	[wt_ko] [decimal](12, 6) NULL,
	[cd_tani_nonyu] [varchar](10) NULL,
	[cd_bunrui] [varchar](10) NULL,
	[su_hachu_lot_size] [decimal](7, 2) NULL,
	[cd_kura] [varchar](10) NULL,
	[kbn_jotai] [smallint] NULL,
	[cd_seizo] [varchar](13) NULL,
	[cd_maker_hin] [varchar](13) NULL,
	[cd_jan] [varchar](13) NULL,
	[su_batch_dekidaka] [decimal](9, 2) NULL,
	[su_palette] [decimal](4, 0) NULL,
	[cd_hanbai_1] [varchar](13) NULL,
	[cd_hanbai_2] [varchar](13) NULL,
	[kin_keihi_cs] [decimal](12, 4) NULL,
	[flg_tenkai] [smallint] NULL,
	[ts] [timestamp] NOT NULL,
	[cd_location] [varchar](10) NULL,
	[dd_kotei] [decimal](3, 0) NULL,
	[cd_tani_nonyu_hasu] [varchar](10) NULL,
	[flg_testitem] [smallint] NULL,
	[flg_trace_taishogai] [smallint] NULL,
	[dd_kaitogo_shomi] [decimal](4, 0) NULL,
	[kbn_kaitogo_hokan] [varchar](10) NULL,
 CONSTRAINT [PK_ma_hinmei] PRIMARY KEY CLUSTERED 
(
	[cd_hinmei] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
