SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ma_fundo](
	[cd_fundo] [varchar](10) NOT NULL,
	[wt_fundo] [decimal](12, 6) NOT NULL,
	[wt_fundo_jogen] [decimal](12, 6) NOT NULL,
	[wt_fundo_kagen] [decimal](12, 6) NOT NULL,
	[dt_create] [datetime] NOT NULL,
	[cd_create] [varchar](10) NOT NULL,
	[dt_update] [datetime] NOT NULL,
	[cd_update] [varchar](10) NOT NULL,
	[flg_mishiyo] [smallint] NOT NULL,
	[ts] [timestamp] NOT NULL,
	[cd_tani] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ma_fundo] PRIMARY KEY CLUSTERED 
(
	[cd_fundo] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
)
GO
