IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'usp_Haigo_delete_chk') AND type IN (N'P', N'PC')) 
DROP PROCEDURE [dbo].[usp_Haigo_delete_chk]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,okada.k>
-- Create date: <Create Date,,2013.05.30>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Haigo_delete_chk]
	@cd_haigo varchar(14)
	,@status int output
	,@table	varchar(1000) output
AS
BEGIN

	DECLARE 
		@errno int
		,@str_table varchar(20)

	SET @table = ''
	SET @str_table = ''

	DECLARE cur_invalidation CURSOR FOR
	SELECT
		str_table
	FROM
		(
			SELECT top 1
				'ma_futai_kettei' AS str_table
			FROM ma_futai_kettei
			WHERE 
				cd_hinmei = @cd_haigo

			UNION

			SELECT top 1
				'ma_hinmei' AS str_table
			FROM ma_hinmei
			WHERE 
				cd_haigo = @cd_haigo

			UNION

			SELECT top 1
				'ma_juryo' AS str_table
			FROM ma_juryo
			WHERE 
				cd_hinmei = @cd_haigo

			UNION

			SELECT top 1
				'ma_kit' AS str_table
			FROM ma_kit
			WHERE 
				cd_hinmei = @cd_haigo

			UNION

			SELECT top 1
				'su_kuraire' AS str_table
			FROM su_kuraire
			WHERE 
				cd_haigo = @cd_haigo

			UNION

			SELECT top 1
				'tr_kowake_label' AS str_table
			FROM tr_kowake_label
			WHERE 
				cd_haigo = @cd_haigo

			UNION

			SELECT top 1
				'tr_tonyu_jokyo' AS str_table
			FROM tr_tonyu_jokyo
			WHERE 
				cd_haigo = @cd_haigo
		) chk


	SET @errno = @@error
	IF @errno <> 0
	BEGIN
		SET @status = 99
		RETURN
	END

	OPEN cur_invalidation

	FETCH NEXT FROM cur_invalidation
	INTO @str_table

	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF @table = ''
		BEGIN
			SET @table = @str_table
		END
		ELSE BEGIN
			SET @table = @table + ',' + @str_table
		END

		FETCH NEXT FROM cur_invalidation
		INTO @str_table
	END
	CLOSE cur_invalidation
	DEALLOCATE cur_invalidation

	SET @errno = @@error
	IF @errno <> 0
	BEGIN
		CLOSE cur_invalidation
		DEALLOCATE cur_invalidation
		SET @status = 99
		RETURN
	END

	IF ISNULL(@table,'') = '' BEGIN
		SET @status = 0		--削除可
	END
	ELSE IF ISNULL(@table,'') <> '' BEGIN
		SET @status = 1		--削除不可（整合性エラー）
	END
	ELSE BEGIN
		SET @status = 99	--エラー
	END
END
GO
